body {

		

		font-size: 16px !important;

	}

	p {

		font-size: 16px !important;

	}

	h2 {

		font-family: 'Teko' !important;

		font-size: 35px !important;

	}

	h1 {

		font-family: 'Teko' !important;

		font-size: 55px !important;

	}

	

	h3 {

		font-size: 20px !important;

	}

	

	h1, h2, h3, h4, h5, h6 {

		font-family: 'Teko' !important;

	}

	

	

	

	.revo-slider-emphasis-text {

			font-size: 64px;

			font-weight: 700;

			letter-spacing: -1px;

			font-family: 'Raleway', sans-serif;

			padding: 15px 20px;

			border-top: 2px solid #FFF;

			border-bottom: 2px solid #FFF;

		}



		.revo-slider-desc-text {

			font-size: 20px;

			font-family: 'Lato', sans-serif;

			width: 650px;

			text-align: center;

			line-height: 1.5;

		}



		.revo-slider-caps-text {

			font-size: 16px;

			font-weight: 400;

			letter-spacing: 3px;

			font-family: 'Teko'!important;

		}

		.tp-video-play-button { display: none !important; }



		.tp-caption { white-space: nowrap; }

		

		.heading-block::after {

			border-top: 2px solid #00aa00 !important;

		}

		

		.button.button-border {

			border: 2px solid #00aa00;

		}

		.portfolio-desc {

			text-align:center;

		}

#page-title {
	margin-top:-100px;
	padding: 220px 0 100px 0 !important;
}

#brand-page-title {
	padding: 150px 0 80px 0 !important;
}

#related {
	background-color: #f7f7f7 !important;
}

.modal-list {
	padding: 0 100px;
}
